params {
	experiment = "EF05"
	input_dir = "./input_data"
	output_dir = "./output_EF05.excl.nomin.all"
	round_order = ["R0","R2","R3","R4","R5","R6","R7","R8","R9"]
	fasta_pattern = "*.fasta"
	primer5 = "TAGGGAAGAGAAGGACATATGAT"
	primer3 = "TTGACTAGTACATGACCTCTTGA"
	random_region = 40
	random_region_min = 37
	random_region_max = 43
	RNAfold_mathews2004_dna = "/home/ulrichaschl/Downloads/ViennaRNA-2.4.14/misc/dna_mathews2004.par"
	cpus = 20
	folding_temp = 21
}
