// nextflow.config (default fallback config file)
params {
    experiment = "SELEX"                // Experiment's name

    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fastq_pattern = null                // e.g. '*_{fwd,rev}.fastq'
    selex_rounds = null                 // list of selex rounds to take: ["R0", ...]

    trim_delimiter = null               // delimiter to be used to trim file names
    
    random_region = null                // length of random region
    random_region_min = null            // min length of random region
    random_region_max = null            // max length of random region
    
    primer5 = "ACGT"                    // 5'Primer aka Forward Primer
    primer3 = "TTTT"                    // 3'Primer aka Reverse Primer


    // further settings
    trim.max_error_rate = 0.2           // maximum error rate in the primers to be recognized
    filter.min_phred_quality = 30       // default average sequence read quality to include sequence
    merge.base_correction = true        // enables base correctio if paired-end reads mismatch and there are major quality differences
    merge.max_mismatches = 1            // allowed number of mismatches for merging
}
