// nextflow.config (default fallback config file)
params {
    experiment = "SELEX"                // Experiment's name
    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fasta_pattern = null                // e.g. '*_{fwd,rev}.fastq'
    round_order = []
    library = null
    primer5 = "ACGT"                    // 5'Primer aka Forward Primer
    primer3 = "TTTT"                    // 3'Primer aka Reverse Primer
    RNAfold_mathews2004_dna = 'vienna_rna/dna_mathwes2004.par'
    inflation = 1.4
	folding_temp = 21
	cpus = 4
	subsample_library = 20000
}
