// nextflow.config (default fallback config file)
params {
    experiment = "SELEX"                // Experiment's name

    input_dir = "./input_data"          // optional
    output_dir = "./output"             // optional
    fasta_pattern = null                // e.g. '*_{fwd,rev}.fastq'

    
    primer5 = "ACGT"                    // 5'Primer aka Forward Primer
    primer3 = "TTTT"                    // 3'Primer aka Reverse Primer
    inflation = 1.4

	subsample_library = 20000
}
